<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/banner1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/banner2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/banner3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

 <div class="banner">
  <img src="assets/banner_pix.jpg" class="banner-img" alt="">
 </div>


 <div class="card-deck">
  <h1>Ofertas</h1>
  <div class="card">
    <img class="card-img-top" src="assets/novidades3.png" alt="Imagem de capa do card">
    <div class="card-body">
      <h3 class="card-title">Fallout 4: Game of the year Pip-Boy Edition - Xbox One</h3>
      <p class="card-old">R$ 2.196,70</p>
      <p class="card-promo">R$ 1.969,99</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/Novidades2.png" alt="Imagem de capa do card">
    <div class="card-body">
      <h3 class="card-title">Mouse sem fio Logitech MX Anywhere 3</h3>
      <p class="card-old">R$ 2.196,70</p>
      <p class="card-promo">R$ 1.969,99</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/Galeria3.png" alt="Imagem de capa do card">
    <div class="card-body">
      <h3 class="card-title">Jogo Super Mario Odissey Nintendo Switch </h3>
      <p class="card-old">R$ 449,90</p>
      <p class="card-promo">R$ 419,39</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</div>

 <div class="Destaque">
  <h1>Os mais vendidos</h1>
  <div class="card" style="width: 18rem;">
    <img src="assets/Galeria1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Jogo Spider-Man Miles Morales PS5</h3>
      <p class="card-text">R$ 329,90</p>
      <p class="card-parcela">9X sem juros de R$ 36,66 no cartão de crédito</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/novidades3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Fallout 4: Game of the year Pip-Boy Edition - Xbox One</h3>
      <p class="card-text">R$ 2.196,70</p>
      <p class="card-parcela">9X sem juros de R$ 244,07 no cartão de crédito</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/Destaque3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Jogo Cyberpunk 2077 PS4</h3>
      <br>
      <p class="card-text">R$ 299,90</p>
      <p class="card-parcela">8X sem juros de R$ 37,49 no cartão de crédito</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</div>

  <div class="Novidades">
    <h1>Novidades</h1>
    <div class="card" style="width: 18rem;">
      <img src="assets/Novidades1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Headset ASTRO Gaming A40 TR + MixAmp Pro TR Gen 4 com Áudio Dolby</h3>
        <p class="card-text">R$ 1.699,00</p>
        <p class="card-parcela">12X sem juros de R$ 141,58 no cartão de crédito</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="assets/Galeria2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Jogo Star Wars Battlefront Ultimate Edition Xbox One</h3>
        <p class="card-text">R$ 349,00</p>
        <p class="card-parcela">3X sem juros de R$ 116,33 no cartão de crédito</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="assets/Destaque2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Console PS5 - SSD Ultrarápido - Áudio 3D - e controle sem fio branco</h3>
        <p class="card-text">R$ 7.999,90</p>
        <p class="card-parcela">12X sem juros de R$ 666,66 no cartão de crédito</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  
  <form class="cad-email" style="background-color: black;">
    <div class="form-row">
      <div class="text col-md-3" style="display: inline-block; margin-left: 10px">
        <h2>Cadastre e receba</h2>
        <p>Novidades e ofertas exclusivas</p>
      </div>
      <div class="form-group col-md-2" style="display: inline-block; margin-left: 10px">
        <label for="inputEmail4"></label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Nome">
      </div>
      <div class="form-group col-md-2" style="display: inline-block; margin-left: 10px;">
        <label for="inputPassword4"></label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Email">
      </div>
      <div class="form-group col-md-2" style="display: inline-block; margin-left: 10px; ">
        <button type="submit" class="btn btn-primary mb-2" style= "margin-left: 10px;">Enviar</button>
      </div>
    </div>
 
 
    
  </form>
  