<div class="container">
    <div class="row">
      <div class="col">
         <a href="#" class="btn btn-black"><img id="login" src="assets/login.png"></a>
      </div>
      <div class="col">
        <img id="logo" src="assets/logo.png">
      </div>
      <div class="col">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="O que você procura?" aria-label="Search">
            <button class="btn btn-primary" type="submit">Buscar</button>
          </form>
      </div>
    </div>
  </div>